.image {
  position: relative;
  width: 100%;
}
h1 {
  top: 100px;
  color: rgb(238, 245, 244);
  text-align: center;
}

p {
  position: absolute;
  top: 150px;
  left: 70px;
  color: rgb(183, 207, 46);
}

.div1 {
  margin: auto;
  margin-top: 100px !important;
  width: 30%;
  border: 3px solid #73ad21;
  padding: 10px;
  background-color: black;
  color: rgb(207, 57, 162);
}

body {
  background-image: url("background_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
